@import url('../../shared/css/variables.css');
@import url('../../shared/css/style.css');

.main {
    font-family: var(--font-text);
    margin-top: -100px;
    padding-top: 100px;
    background-color: var(--background-color-primary);
    padding-bottom: 40px;
}

.inner-breadcumb {
    color: white;
    background-color: #071513;
}

.inner-breadcumb ul li a {
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.section-1 {

    .row {
        justify-content: center;

        .col-4 {
            background-color: rgba(255, 255, 255, 0.06);
            border-radius: 8px;
            padding: 24px;

            .inner-menu {
                list-style: none;
                display: flex;
                height: 50px;
                border-bottom: 1px solid #eee;
                margin-bottom: 30px;
                justify-content: space-around;
                margin-left: 0;
                padding: 0;

                li {
                    flex: 1;
                }

                li.active {
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        height: 1px;
                        left: 0px;
                        right: 0px;
                        bottom: -1px;
                        background-color: #d69c52;
                    }

                    a {
                        color: var(--background-color-button);
                    }
                }

                a {
                    display: flex;
                    height: 100%;
                    width: 100%;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    text-transform: uppercase;
                    color: #fff;
                    font-weight: 600;

                    &:hover {
                        color: var(--background-color-button);
                    }
                }
            }

            .inner-title {
                text-align: center;

                h2 {
                    font-size: 24px;
                    font-weight: 600;
                    color: #fff;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                }
            }

            .inner-content {
                form {
                    .form-group {
                        margin-bottom: 20px;

                        label {
                            font-size: 16px;
                            font-weight: 600;
                            color: #fff;
                            margin-bottom: 10px;
                            display: block;
                        }

                        input {
                            width: 100%;
                            height: 50px;
                            border-radius: 8px;
                            border: 1px solid #eee;
                            padding: 0 15px;
                            font-size: 16px;
                            color: black;
                            background-color: #fff;
                            border-bottom: 2px solid var(--background-color-button);
                        }
                    }

                    .inner-button {
                        margin-top: 10px;
                        width: 100%;
                        height: 50px;
                        border-radius: 8px;
                        background-color: var(--background-color-button);
                        color: #fff;
                        font-size: 16px;
                        font-weight: 600;
                        text-transform: uppercase;
                        border: none;
                        cursor: pointer;
                        transition: background-color 0.3s;
                        box-shadow: 0 3px var(--background-color-button-hover);

                        &:hover {
                            background-color: var(--background-color-button-hover);
                        }
                    }
                }
            }

            .inner-register-link {
                margin-top: 20px;
                display: flex;
                justify-content: center;
                gap: 10px;

                p {
                    color: white;
                    font-size: 16px;
                    font-weight: 400;
                    margin: 0;
                    padding: 5px 10px;
                }

                .inner-social {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a {
                        color: #fff;
                        font-size: 16px;
                        font-weight: 600;
                        text-decoration: none;
                        display: inline-block;
                        border: 1px solid var(--background-color-button);
                        padding: 5px 10px;
                        border-radius: 8px;
    
                        &:hover {
                            color: var(--background-color-button);
                        }
                    }
                }
            }
        }
    }
}