@import url('../css/variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    width: 1340px;
    margin: 0 auto;

    @media screen and (max-width: 991.98px) {
        width: 100%;
        padding: 0 20px;
    }

    @media screen and (max-width: 767.98px) {
        padding: 0 10px;
    }

    @media screen and (max-width: 575.98px) {
        padding: 0 5px;
    }

    @media screen and (max-width: 479.98px) {
        padding: 0 5px;
    }
}

a {
    text-decoration: none;
}

.button {
    background-color: var(--background-color-button);
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    font-family: var(--font-text);
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
}

.button:hover {
    background-color: var(--background-color-button-hover);
}

/* Loading Screen */
#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid var(--background-color-nav);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* header */
.header {
    background: rgba(20, 59, 54, 0.63);
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

.header .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .inner-menu-res {
    display: none;

    i {
        color: var(--background-color-button);
        font-size: 20px;

        &:hover {
            color: var(--background-color-button-hover);
        }
    }

    @media screen and (max-width: 991.98px) {
        display: block;
        padding: 10px;
        cursor: pointer;
    }
}

.header .inner-logo {
    height: 80px;
    width: auto;

    img {
        width: 100%;
        height: 100%;
    }
}

.header .inner-menu {
    flex: 1;
    display: inline-flex;
    justify-content: center;

    ul {
        display: inline-flex;
        align-items: center;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 24px;

        li a {
            font-family: var(--font-text);
            font-weight: 700;
            font-size: 16px;
            display: block;
            padding: 20px 0 20px 0;
            color: white;
        }

        li a:hover {
            color: var(--background-color-button);
            transition: all 0.3s;
            transform: translateY(-3px);
        }
    }

    @media screen and (max-width: 991.98px) {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        height: 100vh;
        background-color: var(--background-color-primary);

        ul {
            display: block;
            padding-top: 40px;
            padding-left: 40px;
        }
    }
}

.header .inner-control {
    display: inline-flex;
    align-items: center;
    gap: 20px;

    .button-icon {
        border: none;
        background-color: transparent;
        font-size: 20px;
        font-weight: 400;
        color: white;
        cursor: pointer;

        i:hover {
            color: var(--background-color-button);
        }
    }

    .inner-cart {
        position: relative;
        padding: 5px;

        .inner-quantity-total {
            position: absolute;
            top: -10px;
            right: -10px;
            background-color: var(--background-color-button);
            color: white;
            font-family: var(--font-text);
            font-weight: 400;
            font-size: 12px;
            padding: 5px 10px;
            border-radius: 50%;
        }

        .inner-cart-box {
            width: 400px;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
            cursor: auto;
            display: none;

            .inner-list-product {
                max-height: 360px;
                overflow-y: auto;
                padding: 15px;

                .inner-item {
                    margin-bottom: 15px;
                    padding-bottom: 15px;
                    width: 100%;
                    border-bottom: solid 1px #ebebeb;
                    display: flex;
                    gap: 10px;

                    .inner-image {
                        width: 60px;
                        height: 60px;

                        a {
                            display: block;
                            width: 100%;
                            height: 100%;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                    
                    .inner-text {
                        display: flex;
                        flex-direction: column;
                        gap: 5px;
                        flex: 1;

                        .inner-name {
                            text-align: start;
                            margin: 0;
                            line-height: 1;

                            a {
                                font-family: var(--font-text);
                                font-weight: 700;
                                font-size: 14px;
                                color: black;
    
                                &:hover {
                                    color: var(--background-color-button);
                                }
                            }
                        }

                        .inner-quantity {
                            font-family: var(--font-text);
                            font-weight: 400;
                            font-size: 12px;
                            color: black;
                            text-align: start;
                            margin: 0;
                            padding: 0;
                        }
                    }

                    .inner-action {
                        display: flex;
                        flex-direction: column;
                        padding: 15px;

                        .inner-price {
                            font-family: var(--font-text);
                            font-weight: 700;
                            font-size: 14px;
                            color: var(--background-color-button);
                            text-align: end;
                            padding: 0;
                            margin: 0;
                        }

                        .inner-remove {
                            font-family: var(--font-text);
                            font-weight: 400;
                            font-size: 16px;
                            color: var(--background-color-button);
                            text-align: end;
                            cursor: pointer;

                            &:hover {
                                color: var(--background-color-button-hover);
                            }
                        }
                    }
                }
            }

            .inner-total {
                p {
                    display: flex;
                    justify-content: space-between;
                    font-family: var(--font-text);
                    font-weight: 700;
                    font-size: 16px;
                    color: var(--background-color-button);
                    padding: 15px;
                }

                .inner-button {
                    padding: 15px;

                    .inner-button-checkout {
                        display: flex;
                        justify-content: center;
                        padding: 10px;
                        background-color: var(--background-color-button);
                        color: white;
                        font-family: var(--font-text);
                        font-weight: 500;
                        font-size: 16px;
                        border-radius: 5px;
                        cursor: pointer;
                        transition: background-color 0.3s;
    
                        &:hover {
                            background-color: var(--background-color-button-hover);
                        }
                    }
                }
            }
        }

        &:hover .inner-cart-box {
            display: block;
        }
    }

    .inner-search {
        position: relative;
        padding: 5px;

        .inner-search-box {
            width: 450px;
            max-height: 410px;
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: white;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
            cursor: auto;

            .inner-title {
                font-family: var(--font-title);
                font-weight: 400;
                font-size: 26px;
                margin-bottom: 10px;
                color: var(--background-color-button);
                border-bottom: 1px solid #ebebeb;
                text-align: start;
            }

            .inner-form-search {
                display: flex;
                gap: 10px;
                margin-bottom: 20px;

                input {
                    flex: 1;
                    padding: 10px;
                    border: 1px solid var(--background-color-button);
                    border-radius: 5px;
                    font-family: var(--font-text);
                    font-weight: 400;
                    font-size: 16px;
                    background-color: transparent;
                    color: black;
                    outline: var(--background-color-button);
                }

                .inner-search-button {
                    padding: 10px 20px;
                    border: none;
                    background-color: var(--background-color-button);
                    color: white;
                    font-family: var(--font-text);
                    font-weight: 500;
                    font-size: 16px;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &:hover {
                        background-color: var(--background-color-button-hover);

                        i {
                            color: white;
                        }
                    }
                }
            }

            .inner-search-result {
                border: 1px solid #ebebeb;
                padding: 10px;
                display: none;

                .inner-title {
                    font-family: var(--font-title);
                    font-weight: 400;
                    font-size: 20px;
                    margin-bottom: 20px;
                    padding-bottom: 10px;
                    color: var(--background-color-button);
                    text-align: start;
                }

                .inner-list-result {

                    .inner-item {
                        display: flex;
                        gap: 20px;
                        align-items: center;
                        padding: 10px;
                        border-bottom: 1px solid #ebebeb;

                        .inner-image {
                            width: 60px;
                            height: 60px;

                            a {
                                display: block;
                                width: 100%;
                                height: 100%;

                                img {
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                        }

                        .inner-text {

                            .inner-name {
                                a {
                                    font-size: 14px;
                                    font-weight: 400;
                                    margin-bottom: 5px;
                                    color: black;

                                    &:hover {
                                        color: var(--background-color-button);
                                    }
                                }
                            }

                            .inner-price {
                                font-family: var(--font-text);
                                font-weight: 400;
                                font-size: 14px;
                                color: red;
                                margin-bottom: 5px;
                                text-align: start;
                            }
                        }
                    }
                }

                .inner-extra {
                    color: black;
                    display: block;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 400;
                    margin-top: 5px;
                }
            }
        }

        &:hover .inner-search-box {
            display: block;
        }
    }

    .inner-user {
        position: relative;
        padding: 5px;

        .inner-dropdown-menu {
            width: 200px;
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: white;
            padding: 10px;
            border-radius: 10px;
            cursor: auto;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-weight: 500;
                height: 40px;
                width: 100%;
                color: white;
                width: 100%;
                text-align: center;
                background-color: var(--background-color-button);
                margin-bottom: 10px;
                border-radius: 8px;
                box-shadow: 0 3px var(--background-color-button-hover);

                &:hover {
                    background-color: var(--background-color-button-hover);
                }
            }
        }

        &:hover .inner-dropdown-menu {
            display: block;
        }
    }

    .inner-location {
        @media screen and (max-width: 991.98px) {
            display: none;
        }
    }

    .order.button {
        @media screen and (max-width: 991.98px) {
            display: none;
        }
    }
}

/* end header */

/* footer */
.footer {
    background-color: var(--background-color-primary);
    padding: 10px;
    text-align: center;
    color: white;
    padding: 50px 0;
    font-family: var(--font-text);
    border-top: 1px solid #ebebeb;
}

.footer .inner-wrap {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.footer .inner-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    width: 40%;

    p {
        font-family: var(--font-text);
        font-weight: 400;
        font-size: 16px;
        margin: 0;
        text-align: start;
    }

    @media screen and (max-width: 991.98px) {
        width: 100%;
        padding: 20px;
    }
}

.footer .inner-logo {
    height: 100px;
    width: 200px;
    text-align: start;

    img {
        height: 100%;
    }
}

.footer .inner-middle {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    width: 30%;
    padding: 0 0 0 50px;

    h3 {
        font-family: var(--font-text);
        font-weight: 700;
        font-size: 20px;
        margin: 0;
    }

    .inner-tutorial {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: start;

        a {
            color: white;
        }

        a:hover {
            font-weight: 700;
            color: var(--background-color-button);
            transition: all 0.3s;
        }
    }

    @media screen and (max-width: 991.98px) {
        width: 50%;
        padding: 20px;
    }

    @media screen and (max-width: 767.98px) {
        width: 100%;
        padding: 20px;
    }
}

.footer .inner-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    width: 30%;

    h3 {
        font-family: var(--font-text);
        font-weight: 700;
        font-size: 20px;
        margin: 0;
    }

    .inner-social {
        display: flex;
        gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;

        li a {
            display: block;
            width: 32px;
            height: 32px;
            color: white;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    .inner-payment {
        display: flex;
        gap: 20px;
        list-style: none;
        padding: 0;
        margin: 0;

        li img {
            width: 57px;
            height: 35px;
        }
    }

    @media screen and (max-width: 991.98px) {
        width: 30%;
        padding: 20px;

        h3 {
            font-size: 18px;
        }
    }

    @media screen and (max-width: 767.98px) {
        width: 50%;
        padding: 20px;

        h3 {
            font-size: 16px;
        }
    }
}

/* end footer */

/* copyright */
.inner-copyright {
    background-color: var(--background-color-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    color: white;
    font-family: var(--font-text);
    font-weight: 600;
}

/* End copyright */

/* .main {
    height: 100vh;
    width: 100%;
} */

.inner-scroll {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    position: fixed;
    right: 20px;
    bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: none;

    i {
        color: white;
        font-size: 28px;
        font-weight: 700;
    }

    &:hover {
        background-color: var(--background-color-button);
        transition: all 0.3s;
    }
}

.header .inner-menu .active {
    color: var(--background-color-button);
}

.inner-sale-popup {
    width: 400px;
    background-color: white;
    padding: 10px 20px;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999;
    display: none;

    .inner-content {
        padding: 0;

        .inner-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            h2 {
                font-family: var(--font-title);
                font-weight: 700;
                font-size: 20px;
                color: var(--background-color-button);
            }

            .inner-close {
                font-size: 20px;
                font-weight: 700;
                cursor: pointer;
                border: none;
                background-color: transparent;
                color: #878787;

                &:hover {
                    color: var(--background-color-button);
                }
            }
        }

        .inner-body {
            display: flex;
            gap: 20px;

            .inner-image {
                width: 80px;
                height: 80px;

                a {
                    display: block;
                    width: 100%;
                    height: 100%;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .inner-text {
                flex: 1;

                .inner-title {
                    font-family: var(--font-title);
                    font-weight: 700;
                    font-size: 18px;
                    margin-bottom: 5px;
                    color: var(--background-color-button);
                }

                .inner-name {
                    color: black;
                    font-weight: 400;
                    font-size: 16px;

                    a {
                        color: black;

                        &:hover {
                            color: var(--background-color-button);
                        }
                    }
                }

                p {
                    font-size: 16px;
                    font-weight: 400;
                    color: #878787;
                    margin: 0;
                }
            }
        }
    }

    @media screen and (max-width: 991.98px) {
        width: 300px;

        .inner-body {
            gap: 10px;

            .inner-image {
                width: 60px;
                height: 60px;
            }

            .inner-text {
                flex: 1;

                .inner-title {
                    font-size: 12px;
                }

                .inner-name {
                    font-size: 12px;
                }

                p {
                    font-size: 12px;
                }
            }
        }
    }
}

@keyframes slideIn {
    0% {
        bottom: -100%;
    }

    100% {
        bottom: 20px;
    }
}

@keyframes slideNone {
    0% {
        bottom: 20px;
    }

    100% {
        bottom: -100%;
    }
}