@import url('../../shared/css/variables.css');
@import url('../../shared/css/style.css');

.main {
    font-family: var(--font-text);
    margin-top: -100px;
    padding-top: 100px;
    background-color: var(--background-color-primary);
}

.inner-breadcumb {
    color: white;
    background-color: #071513;
}

.inner-breadcumb ul li a {
    font-size: 14px;
    font-weight: 400;
    color: white;
}

.section-1 .container {
    color: white;
}

.section-1 {
    @media screen and (max-width: 767.98px) {
        
        .inner-image {
            width: 400px;
            height: auto;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}