@import url('../../shared/css/variables.css');
@import url('../../shared/css/style.css');

.section-1 .text-animation {
    white-space: nowrap;
    animation: slideLeft 1.5s ease-out forwards;
}

@keyframes slideLeft {
    0% {
        transform: translate(-100%, -50%);
    }
    70% {
        transform: scale(0.6);
        opacity: 0.6;
    }
    100% {
        transform: translate(0);
    }
}

.section-1 .slideIn {
    animation: slideRight 1.5s ease-out forwards; /* Kích hoạt animation */
    white-space: nowrap; /* Đảm bảo không ngắt dòng chữ */
}

@keyframes slideRight {
    0% {
        transform: translate(100%, -50%);
    }
    70% {
        transform: scale(0.6);
        opacity: 0.6;
    }
    100% {
        transform: translate(0);
    }
}

.section-1 .slide-butom {
    animation: slideButtom 1.5s ease-out forwards;
    white-space: nowrap;
}

@keyframes slideButtom {
    0% {
        transform: translate(0, -100%);
    }
    70% {
        transform: scale(0.6);
        opacity: 0.6;
    }
    100% {
        transform: translate(0);
    }
}

.section-1 {
    animation: wave 1s ease-out forwards;

    @media screen and (max-width: 767.98px) {
        p.font-dancing {
            font-size: 14px;
        }
    }
}

@keyframes wave {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    70% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}
/* end section 1 */

/* section 2 */
.button-block {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

.button-block span {
    transition: all 0.5s ease-in-out;
}

.button-block .button-line-left {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #d69c52;
    width: 0;
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    opacity: 0;
    display: inline-block;
}

.button-block .button-line-right {
    transform: scale(1);
    opacity: 0;
    background: #d69c52;
    width: calc(30px - 1px);
    display: inline-block;
    height: 1px;
    vertical-align: middle;
    opacity: 1;
    margin-left: 15px;
    display: inline-block;
}

.button-block:hover .button-line-left {
    transform: translate(0, 0px);
    width: 30px;
    opacity: 1
}

.button-block:hover .button-line-right {
    transform: scale(1);
    opacity: 0;
}

.button-block:hover .button-text {
    transform: translate(45px, 0px);
}

.section-2 .inner-image a {
    display: block;
}

.section-2 .inner-image a img {
    width: 100%;
    height: 100%;
    transform: scale(0.9);
    transition: all 0.5s ease-in-out;
}

.section-2 .inner-image a:hover img {
    transform: scale(1);
}

.section-2 {

    @media screen and (max-width: 991.98px) {
        
        .inner-wrap {
            display: flex;
            flex-wrap: wrap;
        }
    }
}
/* end section 2 */

/* section 3 */
.section-3 {

    .inner-title {

        @media screen and (max-width: 767.98px) {
            text-align: center;
            
            h2 {
                font-size: 36px;
            }
        }

        @media screen and (max-width: 575.98px) {
            h2 {
                font-size: 32px;
            }
        }
    }

    @media screen and (max-width: 991.98px) {
        .carousel {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            align-items: center;

            .carousel-item {
                margin: 0 !important;
            }
        }

        .pagination {
            display: none;
        }
    }

    @media screen and (max-width: 767.98px) {
        .carousel {
            gap: 10px;
        }
    }

    @media screen and (max-width: 575.98px) {
        .carousel {
            gap: 5px;

            .carousel-item {
                width: 300px;
            }
        }
    }
}
/* end section 3 */

/* section 4 */
.section-4 {

    .inner-title {

        @media screen and (max-width: 767.98px) {
            text-align: center;
            
            h2 {
                font-size: 36px;
            }
        }

        @media screen and (max-width: 575.98px) {
            h2 {
                font-size: 32px;
            }
        }
    }

    .menu-option {

        @media screen and (max-width: 767.98px) {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            align-items: center;
        }
    }

    .list-products {
        @media screen and (max-width: 1390.98px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
            align-items: center;
            
            .product-item {
                width: calc((100% - 120px) / 4);
            }
        }

        @media screen and (max-width: 1020.98px) {
            .product-item {
                width: calc((100% - 90px) / 3);
            }
        }

        @media screen and (max-width: 767.98px) {
            .product-item {
                width: calc((100% - 60px) / 2);
            }
        }

        @media screen and (max-width: 575.98px) {
            .product-item {

                .product-action {
                    left: 0;
                }

                .button {
                    top: 100px;
                    right: 10%;
                }
            }
        }
    }
}
/* end section 4 */

/* section 5 */
.section-5 {
    .inner-title {

        @media screen and (max-width: 767.98px) {
            text-align: center;
            
            h2 {
                font-size: 36px;
            }
        }
    }

    @media screen and (max-width: 1019.98px) {
        .carousel {
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            justify-content: center;
            align-items: center;
            padding: 0;
            height: 800px;

            .carousel-item {
                margin: 0 !important;
                width: calc((100% - 120px) / 3);

                .product-item {

                    .button {
                        top: 100%;
                        right: 25%;
                    }
                }
            }
        }

        .pagination-2 {
            display: none;
        }
        
    }

    @media screen and (max-width: 991.98px) {
        .carousel {
            gap: 60px 20px;

            .carousel-item {
                width: calc((100% - 60px) / 2);

                .product-item {

                    .button {
                        top: 86%;
                        right: 30%;
                    }
                }
            }
        }
        
    }

    @media screen and (max-width: 767.98px) {
        .carousel {
            gap: 20px;

            .carousel-item {

                .product-item {

                    .button {
                        top: 120%;
                        right: 20%;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 575.98px) {
        .carousel {
            gap: 30px;
            .carousel-item {
                height: 333px;

                .product-item {

                    padding-bottom: 0;
            
                    .product-action {
                        left: 0;
                    }
        
                    .button {
                        top: 100px;
                        right: 10%;
                    }
                }
            }
        }
    }
}
/* end section 5 */

/* section 6 */

.section-6 .inner-banner .inner-content {
    transition: all 0.5s ease-in-out;
}

.section-6 .inner-banner:hover .inner-content {
    opacity: 1;
}

.section-6 {

    @media screen and (max-width: 991.98px) {
        
        .inner-wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            align-items: center;

            .inner-item {
                width: calc((100% - 20px) / 2);
            }
        }
    }

    @media screen and (max-width: 575.98px) {
        .inner-wrap {

            .inner-item {

                .inner-content {
                    a {
                        span {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
/* end secion 6 */

/* section 7 */
.section-7 {

    @media screen and (max-width: 991.98px) {
        
        .inner-wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            align-items: center;

            .inner-item {
                width: calc((100% - 20px) / 2);

                &:nth-child(2) {
                    border: none;
                }

                .content {
                    h3 {
                        font-size: 36px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 575.98px) {
        .inner-wrap {

            .inner-item {

                .content {
                    h3 {
                        font-size: 26px;
                    }
                }
            }
        }
    }
}
/* section 7 */

/* section 8 */
.section-8 .articles {
    cursor: pointer;
}

.section-8 .articles .inner-thumb img{
    transition: all 0.5s ease-in-out;
}

.section-8 .articles:hover .inner-thumb img {
    transform: scale(1);
}

.section-8 {

    @media  screen and (max-width: 991.98px) {
        .carousel {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            align-items: center;

            .carousel-item {
                margin: 0 !important;
            }
        }

        .pagination-3 {
            display: none;
        }
    }
}
/* end section 8 */

/* section 9 */
.section-9 {
    background-image: url(../../assets/images/background/background_danhgia.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 767.98px) {
        .carousel {
            max-width: 600px;

            .carousel-item {
                padding: 20px;
            }
        }
    } 

    @media screen and (max-width: 575.98px) {
        .carousel {
            max-width: 400px;

            .carousel-item {
                padding: 10px;
            }
        }
    }
}
/* end section 9 */